<div class="tournament-card" data-id="{{ID}}">
    <div class="card-header">
        <h3 class="card-name">{{NAME}}</h3>
    </div>
    <div class="card-body">
        <div class="fist-row-tournament-card">
            <span id="price-entry">{{ENTRY_COST}}?</span>
            <div>{{STACK}}<span class="stack-in-bb"">({{STACK_IN_BB}} BB)</span></div>
        </div>

        <div class="tags-row-tournament-card">
            {{TABLE_TAG}} {{BOUNTY_TAG}} {{REENTRY_TAG}} {{REBUYN_TAG}} {{ADDON_TAG}}
        </div>

    </div>
    <div class="card-footer">
        <button class="select-button" data-template-id="{{ID}}">Seleccionar</button>
    </div>
</div>