<div class="tournament-details-view">
    <button class="back-button">? Volver a la lista</button>
    
    <div class="details-header">
        <h1>{{NAME}}</h1>
        <p>{{DESCRIPTION}}</p>
    </div>

    <div class="details-section">
        <h3>Estructura Principal</h3>
        <ul>
            <li>Costo de Entrada: {{ENTRY_COST}}?</li>
            <li>Stack Inicial: {{STACK}} ({{STACK_IN_BB}} BB)</li>
            <li>Tamaño de Mesa: {{TABLE_SIZE}}-MAX</li>
        </ul>
    </div>
    
    <button class="start-game-button" data-template-id="{{ID}}">Iniciar Partida</button>
</div>