<section id="about">
    <div class="personal-description">
        <img src="assets/images/miguel.png" alt="foto de perfil de Miguel Ángel Moza Barquilla">
        <h1>Miguel Ángel Moza Barquilla</h1>
        <h4>Full Stack Web Developer</h4>
    </div>
    <div>
        <p>
            Con más de <strong>10 años de experiencia laboral</strong>, he tenido la oportunidad de trabajar en diversos proyectos desafiantes, especialmente en el área de integración de software. Durante los últimos <strong>2 años como desarrollador</strong>, he sido responsable de crear e integrar servicios que mejoran la eficiencia y operatividad en <a href="https://misterplan.es">MisterPlan S.L</a>.
        </p>
        <p>
            Uno de mis logros más destacados ha sido mi participación en el desarrollo de un <strong>módulo de cerraduras electrónicas</strong>, parte de un sistema de control de acceso que actualmente está en uso en más de <strong>160 alojamientos</strong>, gestionando un total de más de <strong>1600 cerraduras</strong>. Este sistema ha mejorado la seguridad y la operatividad de las instalaciones, permitiendo un control remoto y eficiente de los accesos.
        </p>
        <p>
            Además, he sido parte fundamental de un equipo que trabaja en un <strong>sistema de reservas avanzado</strong>, que integra un PMS, un channel manager y un motor de reservas. En el último año, este sistema ha procesado más de <strong>2 millones de reservas</strong>, optimizando la gestión de alojamientos y mejorando la experiencia de los usuarios.
        </p>
        <p>
            Me apasiona el desarrollo de software y el desafío de integrar tecnologías innovadoras que solucionen problemas reales y optimicen procesos.
        </p>
    </div>
</section>