<section id="experience">
    <header>
        <div class="cards-containner">
            <div id="experiencie-years-dev" class="card-personal-skill">
                <div class="number-section">
                    +<span class="number"></span>
                </div>
                <div class="text-section">
                    Años de experiencia como Desarrollador
                </div>
            </div>
            <div id="total-apis" class="card-personal-skill">
                <div class="number-section">
                    +<span class="number"></span>
                </div>
                <div class="text-section">
                    APIs integradas con éxito
                </div>
            </div>
            <div id="experienci-years-total" class="card-personal-skill">
                <div class="number-section">
                    +<span class="number"></span>
                </div>
                <div class="text-section">
                    Años de experiencia laboral
                </div>
            </div>
        </div>
    </header>
    <div class="card-content">
        <div id="bento-grid">
            <div class="card-work card-mplan">
                <div class="img-containner img-containner-mplan">
                    <img id="mplan-img" src="https://misterplan.es/imagen.php?id_portal=8&id=820.png&slug=logo-misterplan" alt="Logo de MrPlan S.L">
                </div>
                <div class="card-work-data">
                    <h2>Full Stack Web developer</h2>
                    <span style="color: orange">2023 - Actualidad</span>

                    <div class="work-skills-list">
                        <span>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, soluta laboriosam perspiciatis voluptas eligendi repudiandae, quis nobis, libero iure aut qui! Natus voluptate rem nihil iure. Maiores delectus unde perspiciatis!
                        </span>
                        <span>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, soluta laboriosam perspiciatis voluptas eligendi repudiandae, quis nobis, libero iure aut qui! Natus voluptate rem nihil iure. Maiores delectus unde perspiciatis!
                        </span>
                        <span>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, soluta laboriosam perspiciatis voluptas eligendi repudiandae, quis nobis, libero iure aut qui! Natus voluptate rem nihil iure. Maiores delectus unde perspiciatis!
                        </span>
                        <span>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, soluta laboriosam perspiciatis voluptas eligendi repudiandae, quis nobis, libero iure aut qui! Natus voluptate rem nihil iure. Maiores delectus unde perspiciatis!
                        </span>
                        <span>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, soluta laboriosam perspiciatis voluptas eligendi repudiandae, quis nobis, libero iure aut qui! Natus voluptate
                        </span>
                    </div>
                </div>
            </div>
            <div class="card-work card-caf">
                <div class="img-containner-caf">
                    <img width="218" height="64" src="https://cafdigitaldesignsolutions.com/wp-content/uploads/2023/12/logo_caf-dds_.png" class="qodef-header-logo-image qodef--light" alt="logo light" itemprop="image">
                </div>
                <div class="card-work-data">
                    <h3 style="margin-top: 10px ">Técnico de fabricación aditiva</h3>
                    <span style="color: red">2019 - 2021</span>
                    <div class="work-skills-list">
                        <span>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, soluta laboriosam perspiciatis voluptas eligendi repudiandae, quis nobis, libero iure aut qui! Natus voluptate rem nihil iure. Maiores delectus unde perspiciatis!
                        </span>
                    </div>
                </div>
            </div>
            <div class="card-work card-taxi">
                <span id="taxi-t">TAXI</span>
                <span id="taxi-n">Rodriguez Gil</span>
                <br>
                <br>
                <h3>Conductor</h3>
                <span>2022 - 2023</span>
            </div>
            <div class="card-work card-cruce">
                <div class="img-containner-cruce">
                    <img referrerpolicy="origin-when-cross-origin" src="https://scontent.fmad17-1.fna.fbcdn.net/v/t39.30808-6/300979935_777739190188490_6934203270100903790_n.png?_nc_cat=102&amp;ccb=1-7&amp;_nc_sid=6ee11a&amp;_nc_ohc=jfMGcbLaRjoQ7kNvgEJksov&amp;_nc_zt=23&amp;_nc_ht=scontent.fmad17-1.fna&amp;_nc_gid=AZrpyboSoNE4lcfIc_Ulk2P&amp;oh=00_AYBHgYf8fO2TRuQ_BKaDCOaY5hCl_TS-EQ0lKB7AcYX3Ng&amp;oe=673F8A45">
                </div>
                <div class="card-work-data">
                    <h3>Camarero de Sala</h3>
                    <span>2015 - 2019</span>

                    <div class="work-skills-list">
                        <span>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, soluta laboriosam perspiciatis voluptas eligendi repudiandae, quis nobis, libero iure aut qui! Natus voluptate rem nihil iure. Maiores delectus unde perspiciatis!
                        </span>
                    </div>
                </div>
            </div>
            <div class="card-work card-soterrana">
                <div class="img-containner-soterrana">
                    <a href="https://soterrana.com">
                        <img src="https://soterrana.com/wp-content/uploads/2020/02/hospedium-soterrana-logo.png" alt="hotel-logo"
                        width="150" height="150">
                    </a>
                </div>
                <div class="card-work-data">
                    <h3>Camarero / Recepcionista</h3>
                    <span style="color:green">2012 - 2015</span>
                    <div class="work-skills-list">
                        <span>
                            Experiencia haciendo hamburguesitas
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
