<footer id="footer">
    <p class="icons-containner">
        <a class="icon"href="https://github.com/MMoza" target="_blank" rel="noopener"><img src="assets/icons/icons8-github.svg" alt="Icono de Github"></a>
        <a class="icon"href="https://linkedin.com/in/miguel-angel-moza-barquilla-040b63256/" target="_blank" rel="noopener"><img src="assets/icons/icons8-linkedin-white.svg" alt="Icono de Github"></a>
        <a class="icon"href="mailto:miguelangelmozabarquilla@gmail.com"><img src="assets/icons/icons8-mensaje-50.png" alt="Icono de Github"></a>
    </p>
    <p class="color-primary">&copy; 2024 Miguel Ángel Moza Barquilla.</p>
</footer>