<nav>
    <ul>
        <li><a href="#" data-section="home.html"><i class="fa-solid fa-house"></i>&nbsp;Home</a></li>
        <li><a href="#" data-section="experience.html" data-js="js/components/experience.js"><i class="fa-solid fa-briefcase"></i>&nbsp;Experience</a></li>
        <li><a href="#" data-section="projects.html" data-js="js/components/projects.js"><i class="fa-solid fa-diagram-project"></i>&nbsp;Projects</a></li>
        <li><a href="#" data-section="skills.html"><i class="fa-solid fa-lightbulb"></i>&nbsp;Skills</a></li>
        <li><a href="#" data-section="about.html"><i class="fa-solid fa-user"></i>&nbsp;About Me</a></li>
        <li><a href="#" data-section="contact.html"><i class="fa-solid fa-envelope"></i>&nbsp;Contact</a></li>
        <!-- <li class="config">
            <a href="#" id="config-button"><i class="fa-solid fa-gear"></i>&nbsp;Config</a>
            <div class="dropdown">
                <div class="dropdown-item">
                    <label class="switch">
                        <input type="checkbox" id="language-switch">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="dropdown-item">
                    <label class="switch">
                        <input type="checkbox" id="theme-switch">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </li> -->
    </ul>
</nav>
