<section id="home">
    <header>
        
    </header>
    <div class="img-content">
        <img src="assets/images/profile-img.png" alt="Imagen de perfil" class="profile-img">
    </div>
    <div class="card-content">
        <div class="init-msg">
            <h3>¡Hola, soy <span class="name-accent">Miguel Ángel Moza Barquilla</span>!</h3><p> Full Stack Web Developer</p>
        </div>
        <div class="containner-contact">
            <div class="card-contact">
                <img src="assets/icons/cv-icon.png" alt="">
                <span>Echa un vistazo a mi CV</span>
            </div>
            <div class="card-contact">
                <img src="assets/icons/icons8-linkedin.svg" alt="">
                <span>Visita mi perfil de Linkedin</span>
            </div>
            <div class="card-contact">
                <img src="assets/icons/icon-email.png" alt="">
                <span>Contacta conmigo</span>
            </div>
        </div>
    </div>
</section>